<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/index.css")" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
